<div class="flex flex-col items-center justify-center min-h-screen">
  <h1 class="text-6xl font-bold">403 Forbidden</h1>
  <p><%= message %></p>
  <a href="javascript:history.back()">Go Back</a>
</div>